<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<html lang="en">
<head>
    <link rel="stylesheet" href="~/Styles/InformationalInterview.css">
</head>
<body>

@{
    if (WebSecurity.IsAuthenticated) {

        var db=Database.Open("JMA");
        var SQLSELECT="select * from InformationalInterview where Email LIKE @0";
        var answers=db.QuerySingle(SQLSELECT, WebSecurity.CurrentUserName);

        var intDate1=answers.intDate1;
        var organization1=answers.organization1;
        var name1=answers.name1;
        var addressA1=answers.addressA1;
        var addressB1=answers.addressB1;
        var addressC1=answers.addressC1;
        var referred1=answers.referred1;
        var jobTitle1=answers.jobTitle1;
        var phoneNumber1=answers.phoneNumber1;
        var dateMeeting1=answers.dateMeeting1;
        var meetingLength1=answers.meetingLength1;
        var purpose1=answers.purpose1;
        var whatLearned1=answers.whatLearned1;
        var careerObj1=answers.careerObj1;
        var problems1=answers.problems1;
        var refNameFuncBack1=answers.refNameFuncBack1;
        var nextSteps1=answers.nextSteps1;
        var eval1=answers.eval1;
        var other1=answers.other1;
        var intDate2=answers.intDate2;
        var organization2=answers.organization2;
        var name2=answers.name2;
        var addressA2=answers.addressA2;
        var addressB2=answers.addressB2;
        var addressC2=answers.addressC2;
        var referred2=answers.referred2;
        var jobTitle2=answers.jobTitle2;
        var phoneNumber2=answers.phoneNumber2;
        var dateMeeting2=answers.dateMeeting2;
        var meetingLength2=answers.meetingLength2;
        var purpose2=answers.purpose2;
        var whatLearned2=answers.whatLearned2;
        var careerObj2=answers.careerObj2;
        var problems2=answers.problems2;
        var refNameFuncBack2=answers.refNameFuncBack2;
        var nextSteps2=answers.nextSteps2;
        var eval2=answers.eval2;
        var other2=answers.other2;
        var intDate3=answers.intDate3;
        var organization3=answers.organization3;
        var name3=answers.name3;
        var addressA3=answers.addressA3;
        var addressB3=answers.addressB3;
        var addressC3=answers.addressC3;
        var referred3=answers.referred3;
        var jobTitle3=answers.jobTitle3;
        var phoneNumber3=answers.phoneNumber3;
        var dateMeeting3=answers.dateMeeting3;
        var meetingLength3=answers.meetingLength3;
        var purpose3=answers.purpose3;
        var whatLearned3=answers.whatLearned3;
        var careerObj3=answers.careerObj3;
        var problems3=answers.problems3;
        var refNameFuncBack3=answers.refNameFuncBack3;
        var nextSteps3=answers.nextSteps3;
        var eval3=answers.eval3;
        var other3=answers.other3;
        var intDate4=answers.intDate4;        var organization4=answers.organization4;        var name4=answers.name4;        var addressA4=answers.addressA4;        var addressB4=answers.addressB4;        var addressC4=answers.addressC4;        var referred4=answers.referred4;        var jobTitle4=answers.jobTitle4;        var phoneNumber4=answers.phoneNumber4;        var dateMeeting4=answers.dateMeeting4;        var meetingLength4=answers.meetingLength4;        var purpose4=answers.purpose4;        var whatLearned4=answers.whatLearned4;        var careerObj4=answers.careerObj4;        var problems4=answers.problems4;        var refNameFuncBack4=answers.refNameFuncBack4;        var nextSteps4=answers.nextSteps4;        var eval4=answers.eval4;        var other4=answers.other4;        var intDate5=answers.intDate5;        var organization5=answers.organization5;        var name5=answers.name5;        var addressA5=answers.addressA5;        var addressB5=answers.addressB5;        var addressC5=answers.addressC5;        var referred5=answers.referred5;        var jobTitle5=answers.jobTitle5;        var phoneNumber5=answers.phoneNumber5;        var dateMeeting5=answers.dateMeeting5;        var meetingLength5=answers.meetingLength5;        var purpose5=answers.purpose5;        var whatLearned5=answers.whatLearned5;        var careerObj5=answers.careerObj5;        var problems5=answers.problems5;        var refNameFuncBack5=answers.refNameFuncBack5;        var nextSteps5=answers.nextSteps5;        var eval5=answers.eval5;        var other5=answers.other5;        var intDate6=answers.intDate6;        var organization6=answers.organization6;        var name6=answers.name6;        var addressA6=answers.addressA6;        var addressB6=answers.addressB6;        var addressC6=answers.addressC6;        var referred6=answers.referred6;        var jobTitle6=answers.jobTitle6;        var phoneNumber6=answers.phoneNumber6;        var dateMeeting6=answers.dateMeeting6;        var meetingLength6=answers.meetingLength6;        var purpose6=answers.purpose6;        var whatLearned6=answers.whatLearned6;        var careerObj6=answers.careerObj6;        var problems6=answers.problems6;        var refNameFuncBack6=answers.refNameFuncBack6;        var nextSteps6=answers.nextSteps6;        var eval6=answers.eval6;        var other6=answers.other6;        var intDate7=answers.intDate7;        var organization7=answers.organization7;        var name7=answers.name7;        var addressA7=answers.addressA7;        var addressB7=answers.addressB7;        var addressC7=answers.addressC7;        var referred7=answers.referred7;        var jobTitle7=answers.jobTitle7;        var phoneNumber7=answers.phoneNumber7;        var dateMeeting7=answers.dateMeeting7;        var meetingLength7=answers.meetingLength7;        var purpose7=answers.purpose7;        var whatLearned7=answers.whatLearned7;        var careerObj7=answers.careerObj7;        var problems7=answers.problems7;        var refNameFuncBack7=answers.refNameFuncBack7;        var nextSteps7=answers.nextSteps7;        var eval7=answers.eval7;        var other7=answers.other7;        var intDate8=answers.intDate8;        var organization8=answers.organization8;        var name8=answers.name8;        var addressA8=answers.addressA8;        var addressB8=answers.addressB8;        var addressC8=answers.addressC8;        var referred8=answers.referred8;        var jobTitle8=answers.jobTitle8;        var phoneNumber8=answers.phoneNumber8;        var dateMeeting8=answers.dateMeeting8;        var meetingLength8=answers.meetingLength8;        var purpose8=answers.purpose8;        var whatLearned8=answers.whatLearned8;        var careerObj8=answers.careerObj8;        var problems8=answers.problems8;        var refNameFuncBack8=answers.refNameFuncBack8;        var nextSteps8=answers.nextSteps8;        var eval8=answers.eval8;        var other8=answers.other8;        var intDate9=answers.intDate9;        var organization9=answers.organization9;        var name9=answers.name9;        var addressA9=answers.addressA9;        var addressB9=answers.addressB9;        var addressC9=answers.addressC9;        var referred9=answers.referred9;        var jobTitle9=answers.jobTitle9;        var phoneNumber9=answers.phoneNumber9;        var dateMeeting9=answers.dateMeeting9;        var meetingLength9=answers.meetingLength9;        var purpose9=answers.purpose9;        var whatLearned9=answers.whatLearned9;        var careerObj9=answers.careerObj9;        var problems9=answers.problems9;        var refNameFuncBack9=answers.refNameFuncBack9;        var nextSteps9=answers.nextSteps9;        var eval9=answers.eval9;        var other9=answers.other9;        var intDate10=answers.intDate10;        var organization10=answers.organization10;        var name10=answers.name10;        var addressA10=answers.addressA10;        var addressB10=answers.addressB10;        var addressC10=answers.addressC10;        var referred10=answers.referred10;        var jobTitle10=answers.jobTitle10;        var phoneNumber10=answers.phoneNumber10;        var dateMeeting10=answers.dateMeeting10;        var meetingLength10=answers.meetingLength10;        var purpose10=answers.purpose10;        var whatLearned10=answers.whatLearned10;        var careerObj10=answers.careerObj10;        var problems10=answers.problems10;        var refNameFuncBack10=answers.refNameFuncBack10;        var nextSteps10=answers.nextSteps10;        var eval10=answers.eval10;        var other10=answers.other10;

        if (IsPost) {
            intDate1=Request["intDate1"];
            organization1=Request["organization1"];
            name1=Request["name1"];
            addressA1=Request["addressA1"];
            addressB1=Request["addressB1"];
            addressC1=Request["addressC1"];
            referred1=Request["referred1"];
            jobTitle1=Request["jobTitle1"];
            phoneNumber1=Request["phoneNumber1"];
            dateMeeting1=Request["dateMeeting1"];
            meetingLength1=Request["meetingLength1"];
            purpose1=Request["purpose1"];
            whatLearned1=Request["whatLearned1"];
            careerObj1=Request["careerObj1"];
            problems1=Request["problems1"];
            refNameFuncBack1=Request["refNameFuncBack1"];
            nextSteps1=Request["nextSteps1"];
            eval1=Request["eval1"];
            other1=Request["other1"];
            intDate2=Request["intDate2"];
            organization2=Request["organization2"];
            name2=Request["name2"];
            addressA2=Request["addressA2"];
            addressB2=Request["addressB2"];
            addressC2=Request["addressC2"];
            referred2=Request["referred2"];
            jobTitle2=Request["jobTitle2"];
            phoneNumber2=Request["phoneNumber2"];
            dateMeeting2=Request["dateMeeting2"];
            meetingLength2=Request["meetingLength2"];
            purpose2=Request["purpose2"];
            whatLearned2=Request["whatLearned2"];
            careerObj2=Request["careerObj2"];
            problems2=Request["problems2"];
            refNameFuncBack2=Request["refNameFuncBack2"];
            nextSteps2=Request["nextSteps2"];
            eval2=Request["eval2"];
            other2=Request["other2"];
            intDate3=Request["intDate3"];
            organization3=Request["organization3"];
            name3=Request["name3"];
            addressA3=Request["addressA3"];
            addressB3=Request["addressB3"];
            addressC3=Request["addressC3"];
            referred3=Request["referred3"];
            jobTitle3=Request["jobTitle3"];
            phoneNumber3=Request["phoneNumber3"];
            dateMeeting3=Request["dateMeeting3"];
            meetingLength3=Request["meetingLength3"];
            purpose3=Request["purpose3"];
            whatLearned3=Request["whatLearned3"];
            careerObj3=Request["careerObj3"];
            problems3=Request["problems3"];
            refNameFuncBack3=Request["refNameFuncBack3"];
            nextSteps3=Request["nextSteps3"];
            eval3=Request["eval3"];
            other3=Request["other3"];
            intDate4=Request["intDate4"];            organization4=Request["organization4"];            name4=Request["name4"];            addressA4=Request["addressA4"];            addressB4=Request["addressB4"];            addressC4=Request["addressC4"];            referred4=Request["referred4"];            jobTitle4=Request["jobTitle4"];            phoneNumber4=Request["phoneNumber4"];            dateMeeting4=Request["dateMeeting4"];            meetingLength4=Request["meetingLength4"];            purpose4=Request["purpose4"];            whatLearned4=Request["whatLearned4"];            careerObj4=Request["careerObj4"];            problems4=Request["problems4"];            refNameFuncBack4=Request["refNameFuncBack4"];            nextSteps4=Request["nextSteps4"];            eval4=Request["eval4"];            other4=Request["other4"];            intDate5=Request["intDate5"];            organization5=Request["organization5"];            name5=Request["name5"];            addressA5=Request["addressA5"];            addressB5=Request["addressB5"];            addressC5=Request["addressC5"];            referred5=Request["referred5"];            jobTitle5=Request["jobTitle5"];            phoneNumber5=Request["phoneNumber5"];            dateMeeting5=Request["dateMeeting5"];            meetingLength5=Request["meetingLength5"];            purpose5=Request["purpose5"];            whatLearned5=Request["whatLearned5"];            careerObj5=Request["careerObj5"];            problems5=Request["problems5"];            refNameFuncBack5=Request["refNameFuncBack5"];            nextSteps5=Request["nextSteps5"];            eval5=Request["eval5"];            other5=Request["other5"];            intDate6=Request["intDate6"];            organization6=Request["organization6"];            name6=Request["name6"];            addressA6=Request["addressA6"];            addressB6=Request["addressB6"];            addressC6=Request["addressC6"];            referred6=Request["referred6"];            jobTitle6=Request["jobTitle6"];            phoneNumber6=Request["phoneNumber6"];            dateMeeting6=Request["dateMeeting6"];            meetingLength6=Request["meetingLength6"];            purpose6=Request["purpose6"];            whatLearned6=Request["whatLearned6"];            careerObj6=Request["careerObj6"];            problems6=Request["problems6"];            refNameFuncBack6=Request["refNameFuncBack6"];            nextSteps6=Request["nextSteps6"];            eval6=Request["eval6"];            other6=Request["other6"];            intDate7=Request["intDate7"];            organization7=Request["organization7"];            name7=Request["name7"];            addressA7=Request["addressA7"];            addressB7=Request["addressB7"];            addressC7=Request["addressC7"];            referred7=Request["referred7"];            jobTitle7=Request["jobTitle7"];            phoneNumber7=Request["phoneNumber7"];            dateMeeting7=Request["dateMeeting7"];            meetingLength7=Request["meetingLength7"];            purpose7=Request["purpose7"];            whatLearned7=Request["whatLearned7"];            careerObj7=Request["careerObj7"];            problems7=Request["problems7"];            refNameFuncBack7=Request["refNameFuncBack7"];            nextSteps7=Request["nextSteps7"];            eval7=Request["eval7"];            other7=Request["other7"];            intDate8=Request["intDate8"];            organization8=Request["organization8"];            name8=Request["name8"];            addressA8=Request["addressA8"];            addressB8=Request["addressB8"];            addressC8=Request["addressC8"];            referred8=Request["referred8"];            jobTitle8=Request["jobTitle8"];            phoneNumber8=Request["phoneNumber8"];            dateMeeting8=Request["dateMeeting8"];            meetingLength8=Request["meetingLength8"];            purpose8=Request["purpose8"];            whatLearned8=Request["whatLearned8"];            careerObj8=Request["careerObj8"];            problems8=Request["problems8"];            refNameFuncBack8=Request["refNameFuncBack8"];            nextSteps8=Request["nextSteps8"];            eval8=Request["eval8"];            other8=Request["other8"];            intDate9=Request["intDate9"];            organization9=Request["organization9"];            name9=Request["name9"];            addressA9=Request["addressA9"];            addressB9=Request["addressB9"];            addressC9=Request["addressC9"];            referred9=Request["referred9"];            jobTitle9=Request["jobTitle9"];            phoneNumber9=Request["phoneNumber9"];            dateMeeting9=Request["dateMeeting9"];            meetingLength9=Request["meetingLength9"];            purpose9=Request["purpose9"];            whatLearned9=Request["whatLearned9"];            careerObj9=Request["careerObj9"];            problems9=Request["problems9"];            refNameFuncBack9=Request["refNameFuncBack9"];            nextSteps9=Request["nextSteps9"];            eval9=Request["eval9"];            other9=Request["other9"];            intDate10=Request["intDate10"];            organization10=Request["organization10"];            name10=Request["name10"];            addressA10=Request["addressA10"];            addressB10=Request["addressB10"];            addressC10=Request["addressC10"];            referred10=Request["referred10"];            jobTitle10=Request["jobTitle10"];            phoneNumber10=Request["phoneNumber10"];            dateMeeting10=Request["dateMeeting10"];            meetingLength10=Request["meetingLength10"];            purpose10=Request["purpose10"];            whatLearned10=Request["whatLearned10"];            careerObj10=Request["careerObj10"];            problems10=Request["problems10"];            refNameFuncBack10=Request["refNameFuncBack10"];            nextSteps10=Request["nextSteps10"];            eval10=Request["eval10"];            other10=Request["other10"];

            var SQLUPDATE="update InformationalInterview set intDate1=@1, organization1=@2, name1=@3, addressA1=@4, " +
                "addressB1=@5, addressC1=@6, referred1=@7, jobTitle1=@8, phoneNumber1=@9, dateMeeting1=@10, " +
                "meetingLength1=@11, purpose1=@12, whatLearned1=@13, careerObj1=@14, problems1=@15, " +
                "refNameFuncBack1=@16, nextSteps1=@17, eval1=@18, other1=@19, intDate2=@20, organization2=@21, " +
                "name2=@22, addressA2=@23, addressB2=@24, addressC2=@25, referred2=@26, jobTitle2=@27, " +
                "phoneNumber2=@28, dateMeeting2=@29, meetingLength2=@30, purpose2=@31, whatLearned2=@32, " +
                "careerObj2=@33, problems2=@34, refNameFuncBack2=@35, nextSteps2=@36, eval2=@37, other2=@38, " +
                "intDate3=@39, organization3=@40, name3=@41, addressA3=@42, addressB3=@43, addressC3=@44, " +
                "referred3=@45, jobTitle3=@46, phoneNumber3=@47, dateMeeting3=@48, meetingLength3=@49, purpose3=@50, " +
                "whatLearned3=@51, careerObj3=@52, problems3=@53, refNameFuncBack3=@54, nextSteps3=@55, eval3=@56, " +
                "other3=@57, intDate4=@58, organization4=@59, name4=@60, addressA4=@61, addressB4=@62, addressC4=@63, " +                "referred4=@64, jobTitle4=@65, phoneNumber4=@66, dateMeeting4=@67, meetingLength4=@68, purpose4=@69, " +                "whatLearned4=@70, careerObj4=@71, problems4=@72, refNameFuncBack4=@73, nextSteps4=@74, eval4=@75, " +                "other4=@76, intDate5=@77, organization5=@78, name5=@79, addressA5=@80, addressB5=@81, addressC5=@82, " +                "referred5=@83, jobTitle5=@84, phoneNumber5=@85, dateMeeting5=@86, meetingLength5=@87, purpose5=@88, " +                "whatLearned5=@89, careerObj5=@90, problems5=@91, refNameFuncBack5=@92, nextSteps5=@93, eval5=@94, " +                "other5=@95, intDate6=@96, organization6=@97, name6=@98, addressA6=@99, addressB6=@100, " +                "addressC6=@101, referred6=@102, jobTitle6=@103, phoneNumber6=@104, dateMeeting6=@105, " +                "meetingLength6=@106, purpose6=@107, whatLearned6=@108, careerObj6=@109, problems6=@110, " +                "refNameFuncBack6=@111, nextSteps6=@112, eval6=@113, other6=@114, intDate7=@115, organization7=@116, " +                "name7=@117, addressA7=@118, addressB7=@119, addressC7=@120, referred7=@121, jobTitle7=@122, " +                "phoneNumber7=@123, dateMeeting7=@124, meetingLength7=@125, purpose7=@126, whatLearned7=@127, " +                "careerObj7=@128, problems7=@129, refNameFuncBack7=@130, nextSteps7=@131, eval7=@132, other7=@133, " +                "intDate8=@134, organization8=@135, name8=@136, addressA8=@137, addressB8=@138, addressC8=@139, " +                "referred8=@140, jobTitle8=@141, phoneNumber8=@142, dateMeeting8=@143, meetingLength8=@144, " +                "purpose8=@145, whatLearned8=@146, careerObj8=@147, problems8=@148, refNameFuncBack8=@149, " +                "nextSteps8=@150, eval8=@151, other8=@152, intDate9=@153, organization9=@154, name9=@155, " +                "addressA9=@156, addressB9=@157, addressC9=@158, referred9=@159, jobTitle9=@160, phoneNumber9=@161, " +                "dateMeeting9=@162, meetingLength9=@163, purpose9=@164, whatLearned9=@165, careerObj9=@166, " +                "problems9=@167, refNameFuncBack9=@168, nextSteps9=@169, eval9=@170, other9=@171, intDate10=@172, " +                "organization10=@173, name10=@174, addressA10=@175, addressB10=@176, addressC10=@177, " +                "referred10=@178, jobTitle10=@179, phoneNumber10=@180, dateMeeting10=@181, meetingLength10=@182, " +                "purpose10=@183, whatLearned10=@184, careerObj10=@185, problems10=@186, refNameFuncBack10=@187, " +
                "nextSteps10=@188, eval10=@189, other10=@190 " +
                "where Email=@0";
            db.Execute(SQLUPDATE, WebSecurity.CurrentUserName, intDate1, organization1, name1, addressA1, addressB1, 
                addressC1, referred1, jobTitle1, phoneNumber1, dateMeeting1, meetingLength1, purpose1, whatLearned1, 
                careerObj1, problems1, refNameFuncBack1, nextSteps1, eval1, other1, intDate2, organization2, name2, 
                addressA2, addressB2, addressC2, referred2, jobTitle2, phoneNumber2, dateMeeting2, meetingLength2, 
                purpose2, whatLearned2, careerObj2, problems2, refNameFuncBack2, nextSteps2, eval2, other2,
                intDate3, organization3, name3, addressA3, addressB3, addressC3, referred3, jobTitle3, phoneNumber3, 
                dateMeeting3, meetingLength3, purpose3, whatLearned3, careerObj3, problems3, refNameFuncBack3, 
                nextSteps3, eval3, other3, intDate4, organization4, name4, addressA4, addressB4, addressC4, referred4,                jobTitle4, phoneNumber4, dateMeeting4, meetingLength4, purpose4, whatLearned4, careerObj4, problems4,                 refNameFuncBack4, nextSteps4, eval4, other4, intDate5, organization5, name5, addressA5, addressB5,                 addressC5, referred5, jobTitle5, phoneNumber5, dateMeeting5, meetingLength5, purpose5, whatLearned5,                 careerObj5, problems5, refNameFuncBack5, nextSteps5, eval5, other5, intDate6, organization6, name6,                 addressA6, addressB6, addressC6, referred6, jobTitle6, phoneNumber6, dateMeeting6, meetingLength6,                 purpose6, whatLearned6, careerObj6, problems6, refNameFuncBack6, nextSteps6, eval6, other6, intDate7,                 organization7, name7, addressA7, addressB7, addressC7, referred7, jobTitle7, phoneNumber7, dateMeeting7,                 meetingLength7, purpose7, whatLearned7, careerObj7, problems7, refNameFuncBack7, nextSteps7, eval7,                 other7, intDate8, organization8, name8, addressA8, addressB8, addressC8, referred8, jobTitle8,                 phoneNumber8, dateMeeting8, meetingLength8, purpose8, whatLearned8, careerObj8, problems8,                 refNameFuncBack8, nextSteps8, eval8, other8, intDate9, organization9, name9, addressA9, addressB9,                 addressC9, referred9, jobTitle9, phoneNumber9, dateMeeting9, meetingLength9, purpose9, whatLearned9,                 careerObj9, problems9, refNameFuncBack9, nextSteps9, eval9, other9, intDate10, organization10, name10,                 addressA10, addressB10, addressC10, referred10, jobTitle10, phoneNumber10, dateMeeting10, meetingLength10,                purpose10, whatLearned10, careerObj10, problems10, refNameFuncBack10, nextSteps10, eval10, other10);
            if (Request["submit"]=="Return Home") {
                Response.Redirect("~/index.cshtml");
            }
        }

<form action="" method="post">
    <div id="bottomBar">
        <input type="submit" id="fixedPos1" name="submit" value="Save">
        <input type="submit" id="fixedPos2" name="submit" value="Return Home">
    </div>

<DIV id="page_1">
    <DIV id="dimg1">
        <IMG src="~/Images/JMA_Informational_Interview_Report1x1.jpg" alt="A" id="img1">
    </DIV>
    <DIV id="id_1">
        <P class="p0 ft0">JODY MICHAEL ASSOCIATES</P>
        <P class="p1 ft1">Informational Interview Follow-Up Report #1</P>

        <TABLE cellpadding=0 cellspacing=0 id="tableFormat1">
            <tr>
                <td id="leftRightTop">Date</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="intDate1" value="@intDate1"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Referred by</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="referred1" value="@referred1"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Organization</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="organization1" value="@organization1"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Job Title</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="jobTitle1" value="@jobTitle1"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Name</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="name1" value="@name1"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Phone Number</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="phoneNumber1" value="@phoneNumber1"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Address</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="addressA1" value="@addressA1"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Date of Meeting</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="dateMeeting1" value="@dateMeeting1"></td>
            </tr>
            <tr>
                <td id="leftRightBottom">&nbsp;</td>
                <td id="rightBottom"><input type="text" id="formColor" size="30" name="addressB1" value="@addressB1"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftTopBottom">Length of Meeting</td>
                <td id="all"><input type="text" id="formColor" size="30" name="meetingLength1" value="@meetingLength1"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Purpose of meeting<br>
                <input type="text" id="formColor" size="104" name="purpose1" value="@purpose1"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">What did you learn about the person you met? (Background, interests, etc.)<br>
                <input type="text" id="formColor" size="104" name="whatLearned1" value="@whatLearned1"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Did you learn anything that confirmed or modified your career objective?<br>
                <input type="text" id="formColor" size="104" name="careerObj1" value="@careerObj1"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Problems and needs of company or industry:<br>
                <input type="text" id="formColor" size="104" name="problems1" value="@problems1"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Referrals' (new contacts) name, function, background:<br>
                <input type="text" id="formColor" size="104" name="refNameFuncBack1" value="@refNameFuncBack1"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Next steps:<br>
                <input type="text" id="formColor" size="104" name="nextSteps1" value="@nextSteps1"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Evaluation of meeting:<br>
                <input type="text" id="formColor" size="104" name="eval1" value="@eval1"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Other information gained:<br>
                <input type="text" id="formColor" size="104" name="other1" value="@other1"></td>
            </tr>
        </table>
    </div>

    <DIV id="id_2">
        <TABLE cellpadding=0 cellspacing=0 class="t1">
            <TR></TR>
        </TABLE>
    </DIV>
</DIV>

<DIV id="page_1">
    <DIV id="dimg1">
        <IMG src="~/Images/JMA_Informational_Interview_Report1x1.jpg" alt="A" id="img1">
    </DIV>
    <DIV id="id_1">
        <P class="p0 ft0">JODY MICHAEL ASSOCIATES</P>
        <P class="p1 ft1">Informational Interview Follow-Up Report #2</P>

        <TABLE cellpadding=0 cellspacing=0 id="tableFormat1">
            <tr>
                <td id="leftRightTop">Date</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="intDate2" value="@intDate2"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Referred by</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="referred2" value="@referred2"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Organization</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="organization2" value="@organization2"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Job Title</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="jobTitle2" value="@jobTitle2"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Name</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="name2" value="@name2"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Phone Number</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="phoneNumber2" value="@phoneNumber2"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Address</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="addressA2" value="@addressA2"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Date of Meeting</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="dateMeeting2" value="@dateMeeting2"></td>
            </tr>
            <tr>
                <td id="leftRightBottom">&nbsp;</td>
                <td id="rightBottom"><input type="text" id="formColor" size="30" name="addressB2" value="@addressB2"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftTopBottom">Length of Meeting</td>
                <td id="all"><input type="text" id="formColor" size="30" name="meetingLength2" value="@meetingLength2"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Purpose of meeting<br>
                <input type="text" id="formColor" size="104" name="purpose2" value="@purpose2"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">What did you learn about the person you met? (Background, interests, etc.)<br>
                <input type="text" id="formColor" size="104" name="whatLearned2" value="@whatLearned2"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Did you learn anything that confirmed or modified your career objective?<br>
                <input type="text" id="formColor" size="104" name="careerObj2" value="@careerObj2"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Problems and needs of company or industry:<br>
                <input type="text" id="formColor" size="104" name="problems2" value="@problems2"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Referrals' (new contacts) name, function, background:<br>
                <input type="text" id="formColor" size="104" name="refNameFuncBack2" value="@refNameFuncBack2"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Next steps:<br>
                <input type="text" id="formColor" size="104" name="nextSteps2" value="@nextSteps2"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Evaluation of meeting:<br>
                <input type="text" id="formColor" size="104" name="eval2" value="@eval2"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Other information gained:<br>
                <input type="text" id="formColor" size="104" name="other2" value="@other2"></td>
            </tr>
        </table>
    </div>
</DIV>

<DIV id="page_1">
    <DIV id="dimg1">
        <IMG src="~/Images/JMA_Informational_Interview_Report1x1.jpg" alt="A" id="img1">
    </DIV>
    <DIV id="id_1">
        <P class="p0 ft0">JODY MICHAEL ASSOCIATES</P>
        <P class="p1 ft1">Informational Interview Follow-Up Report #3</P>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat1">
            <tr>
                <td id="leftRightTop">Date</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="intDate3" value="@intDate3"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Referred by</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="referred3" value="@referred3"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Organization</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="organization3" value="@organization3"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Job Title</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="jobTitle3" value="@jobTitle3"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Name</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="name3" value="@name3"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Phone Number</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="phoneNumber3" value="@phoneNumber3"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Address</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="addressA3" value="@addressA3"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Date of Meeting</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="dateMeeting3" value="@dateMeeting3"></td>
            </tr>
            <tr>
                <td id="leftRightBottom">&nbsp;</td>
                <td id="rightBottom"><input type="text" id="formColor" size="30" name="addressB3" value="@addressB3"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftTopBottom">Length of Meeting</td>
                <td id="all"><input type="text" id="formColor" size="30" name="meetingLength3" value="@meetingLength3"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Purpose of meeting<br>
                <input type="text" id="formColor" size="104" name="purpose3" value="@purpose3"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">What did you learn about the person you met? (Background, interests, etc.)<br>
                <input type="text" id="formColor" size="104" name="whatLearned3" value="@whatLearned3"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Did you learn anything that confirmed or modified your career objective?<br>
                <input type="text" id="formColor" size="104" name="careerObj3" value="@careerObj3"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Problems and needs of company or industry:<br>
                <input type="text" id="formColor" size="104" name="problems3" value="@problems3"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Referrals' (new contacts) name, function, background:<br>
                <input type="text" id="formColor" size="104" name="refNameFuncBack3" value="@refNameFuncBack3"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Next steps:<br>
                <input type="text" id="formColor" size="104" name="nextSteps3" value="@nextSteps3"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Evaluation of meeting:<br>
                <input type="text" id="formColor" size="104" name="eval3" value="@eval3"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Other information gained:<br>
                <input type="text" id="formColor" size="104" name="other3" value="@other3"></td>
            </tr>
        </table>
    </div>
</div>

<DIV id="page_1">
    <DIV id="dimg1">
        <IMG src="~/Images/JMA_Informational_Interview_Report1x1.jpg" alt="A" id="img1">
    </DIV>
    <DIV id="id_1">
        <P class="p0 ft0">JODY MICHAEL ASSOCIATES</P>
        <P class="p1 ft1">Informational Interview Follow-Up Report #4</P>

        <TABLE cellpadding=0 cellspacing=0 id="tableFormat1">
            <tr>
                <td id="leftRightTop">Date</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="intDate4" value="@intDate4"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Referred by</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="referred4" value="@referred4"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Organization</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="organization4" value="@organization4"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Job Title</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="jobTitle4" value="@jobTitle4"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Name</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="name4" value="@name4"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Phone Number</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="phoneNumber4" value="@phoneNumber4"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Address</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="addressA4" value="@addressA4"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Date of Meeting</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="dateMeeting4" value="@dateMeeting4"></td>
            </tr>
            <tr>
                <td id="leftRightBottom">&nbsp;</td>
                <td id="rightBottom"><input type="text" id="formColor" size="30" name="addressB4" value="@addressB4"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftTopBottom">Length of Meeting</td>
                <td id="all"><input type="text" id="formColor" size="30" name="meetingLength4" value="@meetingLength4"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Purpose of meeting<br>
                <input type="text" id="formColor" size="104" name="purpose4" value="@purpose4"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">What did you learn about the person you met? (Background, interests, etc.)<br>
                <input type="text" id="formColor" size="104" name="whatLearned4" value="@whatLearned4"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Did you learn anything that confirmed or modified your career objective?<br>
                <input type="text" id="formColor" size="104" name="careerObj4" value="@careerObj4"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Problems and needs of company or industry:<br>
                <input type="text" id="formColor" size="104" name="problems4" value="@problems4"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Referrals' (new contacts) name, function, background:<br>
                <input type="text" id="formColor" size="104" name="refNameFuncBack4" value="@refNameFuncBack4"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Next steps:<br>
                <input type="text" id="formColor" size="104" name="nextSteps4" value="@nextSteps4"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Evaluation of meeting:<br>
                <input type="text" id="formColor" size="104" name="eval4" value="@eval4"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Other information gained:<br>
                <input type="text" id="formColor" size="104" name="other4" value="@other4"></td>
            </tr>
        </table>
    </div>
</div>

<DIV id="page_1">
    <DIV id="dimg1">
        <IMG src="~/Images/JMA_Informational_Interview_Report1x1.jpg" alt="A" id="img1">
    </DIV>
    <DIV id="id_1">
        <P class="p0 ft0">JODY MICHAEL ASSOCIATES</P>
        <P class="p1 ft1">Informational Interview Follow-Up Report #5</P>

        <TABLE cellpadding=0 cellspacing=0 id="tableFormat1">
            <tr>
                <td id="leftRightTop">Date</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="intDate5" value="@intDate5"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Referred by</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="referred5" value="@referred5"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Organization</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="organization5" value="@organization5"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Job Title</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="jobTitle5" value="@jobTitle5"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Name</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="name5" value="@name5"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Phone Number</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="phoneNumber5" value="@phoneNumber5"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Address</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="addressA5" value="@addressA5"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Date of Meeting</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="dateMeeting5" value="@dateMeeting5"></td>
            </tr>
            <tr>
                <td id="leftRightBottom">&nbsp;</td>
                <td id="rightBottom"><input type="text" id="formColor" size="30" name="addressB5" value="@addressB5"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftTopBottom">Length of Meeting</td>
                <td id="all"><input type="text" id="formColor" size="30" name="meetingLength5" value="@meetingLength5"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Purpose of meeting<br>
                <input type="text" id="formColor" size="104" name="purpose5" value="@purpose5"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">What did you learn about the person you met? (Background, interests, etc.)<br>
                <input type="text" id="formColor" size="104" name="whatLearned5" value="@whatLearned5"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Did you learn anything that confirmed or modified your career objective?<br>
                <input type="text" id="formColor" size="104" name="careerObj5" value="@careerObj5"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Problems and needs of company or industry:<br>
                <input type="text" id="formColor" size="104" name="problems5" value="@problems5"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Referrals' (new contacts) name, function, background:<br>
                <input type="text" id="formColor" size="104" name="refNameFuncBack5" value="@refNameFuncBack5"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Next steps:<br>
                <input type="text" id="formColor" size="104" name="nextSteps5" value="@nextSteps5"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Evaluation of meeting:<br>
                <input type="text" id="formColor" size="104" name="eval5" value="@eval5"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Other information gained:<br>
                <input type="text" id="formColor" size="104" name="other5" value="@other5"></td>
            </tr>
        </table>
    </div>
</div>

<DIV id="page_1">
    <DIV id="dimg1">
        <IMG src="~/Images/JMA_Informational_Interview_Report1x1.jpg" alt="A" id="img1">
    </DIV>
    <DIV id="id_1">
        <P class="p0 ft0">JODY MICHAEL ASSOCIATES</P>
        <P class="p1 ft1">Informational Interview Follow-Up Report #6</P>

        <TABLE cellpadding=0 cellspacing=0 id="tableFormat1">
            <tr>
                <td id="leftRightTop">Date</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="intDate6" value="@intDate6"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Referred by</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="referred6" value="@referred6"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Organization</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="organization6" value="@organization6"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Job Title</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="jobTitle6" value="@jobTitle6"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Name</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="name6" value="@name6"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Phone Number</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="phoneNumber6" value="@phoneNumber6"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Address</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="addressA6" value="@addressA6"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Date of Meeting</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="dateMeeting6" value="@dateMeeting6"></td>
            </tr>
            <tr>
                <td id="leftRightBottom">&nbsp;</td>
                <td id="rightBottom"><input type="text" id="formColor" size="30" name="addressB6" value="@addressB6"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftTopBottom">Length of Meeting</td>
                <td id="all"><input type="text" id="formColor" size="30" name="meetingLength6" value="@meetingLength6"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Purpose of meeting<br>
                <input type="text" id="formColor" size="104" name="purpose6" value="@purpose6"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">What did you learn about the person you met? (Background, interests, etc.)<br>
                <input type="text" id="formColor" size="104" name="whatLearned6" value="@whatLearned6"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Did you learn anything that confirmed or modified your career objective?<br>
                <input type="text" id="formColor" size="104" name="careerObj6" value="@careerObj6"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Problems and needs of company or industry:<br>
                <input type="text" id="formColor" size="104" name="problems6" value="@problems6"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Referrals' (new contacts) name, function, background:<br>
                <input type="text" id="formColor" size="104" name="refNameFuncBack6" value="@refNameFuncBack6"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Next steps:<br>
                <input type="text" id="formColor" size="104" name="nextSteps6" value="@nextSteps6"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Evaluation of meeting:<br>
                <input type="text" id="formColor" size="104" name="eval6" value="@eval6"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Other information gained:<br>
                <input type="text" id="formColor" size="104" name="other6" value="@other6"></td>
            </tr>
        </table>
    </div>
</div>

<DIV id="page_1">
    <DIV id="dimg1">
        <IMG src="~/Images/JMA_Informational_Interview_Report1x1.jpg" alt="A" id="img1">
    </DIV>
    <DIV id="id_1">
        <P class="p0 ft0">JODY MICHAEL ASSOCIATES</P>
        <P class="p1 ft1">Informational Interview Follow-Up Report #7</P>

        <TABLE cellpadding=0 cellspacing=0 id="tableFormat1">
            <tr>
                <td id="leftRightTop">Date</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="intDate7" value="@intDate7"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Referred by</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="referred7" value="@referred7"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Organization</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="organization7" value="@organization7"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Job Title</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="jobTitle7" value="@jobTitle7"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Name</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="name7" value="@name7"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Phone Number</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="phoneNumber7" value="@phoneNumber7"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Address</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="addressA7" value="@addressA7"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Date of Meeting</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="dateMeeting7" value="@dateMeeting7"></td>
            </tr>
            <tr>
                <td id="leftRightBottom">&nbsp;</td>
                <td id="rightBottom"><input type="text" id="formColor" size="30" name="addressB7" value="@addressB7"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftTopBottom">Length of Meeting</td>
                <td id="all"><input type="text" id="formColor" size="30" name="meetingLength7" value="@meetingLength7"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Purpose of meeting<br>
                <input type="text" id="formColor" size="104" name="purpose7" value="@purpose7"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">What did you learn about the person you met? (Background, interests, etc.)<br>
                <input type="text" id="formColor" size="104" name="whatLearned7" value="@whatLearned7"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Did you learn anything that confirmed or modified your career objective?<br>
                <input type="text" id="formColor" size="104" name="careerObj7" value="@careerObj7"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Problems and needs of company or industry:<br>
                <input type="text" id="formColor" size="104" name="problems7" value="@problems7"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Referrals' (new contacts) name, function, background:<br>
                <input type="text" id="formColor" size="104" name="refNameFuncBack7" value="@refNameFuncBack7"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Next steps:<br>
                <input type="text" id="formColor" size="104" name="nextSteps7" value="@nextSteps7"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Evaluation of meeting:<br>
                <input type="text" id="formColor" size="104" name="eval7" value="@eval7"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Other information gained:<br>
                <input type="text" id="formColor" size="104" name="other7" value="@other7"></td>
            </tr>
        </table>
    </div>
</div>

<DIV id="page_1">
    <DIV id="dimg1">
        <IMG src="~/Images/JMA_Informational_Interview_Report1x1.jpg" alt="A" id="img1">
    </DIV>
    <DIV id="id_1">
        <P class="p0 ft0">JODY MICHAEL ASSOCIATES</P>
        <P class="p1 ft1">Informational Interview Follow-Up Report #8</P>

        <TABLE cellpadding=0 cellspacing=0 id="tableFormat1">
            <tr>
                <td id="leftRightTop">Date</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="intDate8" value="@intDate8"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Referred by</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="referred8" value="@referred8"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Organization</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="organization8" value="@organization8"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Job Title</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="jobTitle8" value="@jobTitle8"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Name</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="name8" value="@name8"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Phone Number</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="phoneNumber8" value="@phoneNumber8"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Address</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="addressA8" value="@addressA8"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Date of Meeting</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="dateMeeting8" value="@dateMeeting8"></td>
            </tr>
            <tr>
                <td id="leftRightBottom">&nbsp;</td>
                <td id="rightBottom"><input type="text" id="formColor" size="30" name="addressB8" value="@addressB8"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftTopBottom">Length of Meeting</td>
                <td id="all"><input type="text" id="formColor" size="30" name="meetingLength8" value="@meetingLength8"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Purpose of meeting<br>
                <input type="text" id="formColor" size="104" name="purpose8" value="@purpose8"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">What did you learn about the person you met? (Background, interests, etc.)<br>
                <input type="text" id="formColor" size="104" name="whatLearned8" value="@whatLearned8"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Did you learn anything that confirmed or modified your career objective?<br>
                <input type="text" id="formColor" size="104" name="careerObj8" value="@careerObj8"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Problems and needs of company or industry:<br>
                <input type="text" id="formColor" size="104" name="problems8" value="@problems8"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Referrals' (new contacts) name, function, background:<br>
                <input type="text" id="formColor" size="104" name="refNameFuncBack8" value="@refNameFuncBack8"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Next steps:<br>
                <input type="text" id="formColor" size="104" name="nextSteps8" value="@nextSteps8"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Evaluation of meeting:<br>
                <input type="text" id="formColor" size="104" name="eval8" value="@eval8"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Other information gained:<br>
                <input type="text" id="formColor" size="104" name="other8" value="@other8"></td>
            </tr>
        </table>
    </div>
</div>

<DIV id="page_1">
    <DIV id="dimg1">
        <IMG src="~/Images/JMA_Informational_Interview_Report1x1.jpg" alt="A" id="img1">
    </DIV>
    <DIV id="id_1">
        <P class="p0 ft0">JODY MICHAEL ASSOCIATES</P>
        <P class="p1 ft1">Informational Interview Follow-Up Report #9</P>

        <TABLE cellpadding=0 cellspacing=0 id="tableFormat1">
            <tr>
                <td id="leftRightTop">Date</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="intDate9" value="@intDate9"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Referred by</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="referred9" value="@referred9"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Organization</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="organization9" value="@organization9"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Job Title</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="jobTitle9" value="@jobTitle9"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Name</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="name9" value="@name9"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Phone Number</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="phoneNumber9" value="@phoneNumber9"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Address</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="addressA9" value="@addressA9"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Date of Meeting</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="dateMeeting9" value="@dateMeeting9"></td>
            </tr>
            <tr>
                <td id="leftRightBottom">&nbsp;</td>
                <td id="rightBottom"><input type="text" id="formColor" size="30" name="addressB9" value="@addressB9"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftTopBottom">Length of Meeting</td>
                <td id="all"><input type="text" id="formColor" size="30" name="meetingLength9" value="@meetingLength9"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Purpose of meeting<br>
                <input type="text" id="formColor" size="104" name="purpose9" value="@purpose9"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">What did you learn about the person you met? (Background, interests, etc.)<br>
                <input type="text" id="formColor" size="104" name="whatLearned9" value="@whatLearned9"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Did you learn anything that confirmed or modified your career objective?<br>
                <input type="text" id="formColor" size="104" name="careerObj9" value="@careerObj9"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Problems and needs of company or industry:<br>
                <input type="text" id="formColor" size="104" name="problems9" value="@problems9"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Referrals' (new contacts) name, function, background:<br>
                <input type="text" id="formColor" size="104" name="refNameFuncBack9" value="@refNameFuncBack9"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Next steps:<br>
                <input type="text" id="formColor" size="104" name="nextSteps9" value="@nextSteps9"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Evaluation of meeting:<br>
                <input type="text" id="formColor" size="104" name="eval9" value="@eval9"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Other information gained:<br>
                <input type="text" id="formColor" size="104" name="other9" value="@other9"></td>
            </tr>
        </table>
    </div>
</div>

<DIV id="page_1">
    <DIV id="dimg1">
        <IMG src="~/Images/JMA_Informational_Interview_Report1x1.jpg" alt="A" id="img1">
    </DIV>
    <DIV id="id_1">
        <P class="p0 ft0">JODY MICHAEL ASSOCIATES</P>
        <P class="p1 ft1">Informational Interview Follow-Up Report #10</P>

        <TABLE cellpadding=0 cellspacing=0 id="tableFormat1">
            <tr>
                <td id="leftRightTop">Date</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="intDate10" value="@intDate10"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Referred by</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="referred10" value="@referred10"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Organization</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="organization10" value="@organization10"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Job Title</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="jobTitle10" value="@jobTitle10"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Name</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="name10" value="@name10"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Phone Number</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="phoneNumber10" value="@phoneNumber10"></td>
            </tr>
            <tr>
                <td id="leftRightTop">Address</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="addressA10" value="@addressA10"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftRightTop">Date of Meeting</td>
                <td id="rightTop"><input type="text" id="formColor" size="30" name="dateMeeting10" value="@dateMeeting10"></td>
            </tr>
            <tr>
                <td id="leftRightBottom">&nbsp;</td>
                <td id="rightBottom"><input type="text" id="formColor" size="30" name="addressB10" value="@addressB10"></td>
                <td id="middle">&nbsp;</td>
                <td id="leftTopBottom">Length of Meeting</td>
                <td id="all"><input type="text" id="formColor" size="30" name="meetingLength10" value="@meetingLength10"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Purpose of meeting<br>
                <input type="text" id="formColor" size="104" name="purpose10" value="@purpose10"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">What did you learn about the person you met? (Background, interests, etc.)<br>
                <input type="text" id="formColor" size="104" name="whatLearned10" value="@whatLearned10"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Did you learn anything that confirmed or modified your career objective?<br>
                <input type="text" id="formColor" size="104" name="careerObj10" value="@careerObj10"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Problems and needs of company or industry:<br>
                <input type="text" id="formColor" size="104" name="problems10" value="@problems10"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Referrals' (new contacts) name, function, background:<br>
                <input type="text" id="formColor" size="104" name="refNameFuncBack10" value="@refNameFuncBack10"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Next steps:<br>
                <input type="text" id="formColor" size="104" name="nextSteps10" value="@nextSteps10"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Evaluation of meeting:<br>
                <input type="text" id="formColor" size="104" name="eval10" value="@eval10"></td>
            </tr>
        </table>

        <br>
        <TABLE cellpadding=0 cellspacing=0 id="tableFormat2">
            <tr>
                <td id="allBig">Other information gained:<br>
                <input type="text" id="formColor" size="104" name="other10" value="@other10"></td>
            </tr>
        </table>
    </div>
</div>
</form>

} else {
    <p><a href="~/Account/Login.cshtml">Please login.</a></p>
}
}

</body>
</HTML>